<form action="__URL__/insert" id="j_custom_form" class="col-md-12 form-label-right form-validate" method="post" noEnter>

    <div class="pageContainer">
        <div class="form-row">
            <div class="form-label col-md-3"><label>专业名称：</label></div>
            <div class="form-input col-md-7">
                <input type="text" class="validate[required,custom[chinese]] required" size="30" name="name" id="j_name" placeholder="专业名称" >
            </div>
        </div>

        <div class="form-row">
            <div class="form-label col-md-3"><label>所属院系：</label></div>
            <div class="col-md-7">
                <select name="facid" data-container="body" id="j_facid" class="selectpicker show-tick validate[required]" data-style="bg-blue btn medium" data-width="auto">
                    <volist name='faculty' id='vo'>
                        <option value="{$vo.id}" >{$vo.name}</option>
                    </volist>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-label col-md-3"><label>排序：</label></div>
            <div class="form-input col-md-7">
                <input type="text" class="validate[required,custom[integer]] required" size="30" name="sort" id="j_sort" value="1" placeholder="默认为 1" >
            </div>
        </div>

        <div class="form-row">
            <div class="form-label col-md-3"><label>状态：</label></div>
            <div class="col-md-7">
                <select name="status"  data-container="body"  id="j_status" class="selectpicker show-tick validate[required]" data-style="bg-green btn medium" data-width="auto">
                    <option <eq name="info.status" value="1" >selected</eq> value="1">启用</option>
                    <option <eq name="info.status" value="0" >selected</eq> value="0">禁用</option>
                </select>
            </div>
        </div>

		<div class="actionBar">
            <div class="form-input col-md-10 col-md-offset-3">
                <button type="button" class="btn medium bg-blue xubox_yes"> <span class="button-content">确定</span></button>
                <button type="button" class="btn medium bg-red mrg15L xubox_close"><span class="button-content">取消</span></button>
            </div>
        </div>
    </div>
</form>